<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>WebApp CVI</title>
		
		<!-- CSS Style Sheets -->
        <link rel="stylesheet" href="css/stylesUser.css">
		
		<!-- Images -->
		<script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link rel="shortcut icon" href="images/favicon.ico">
		
		<!--Javascript -->
		<script type="text/javascript" src="javascript/user_flat.js"></script>
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top" style="min-height: 100px">
			<a class="navbar-brand"><b> <%= data.afNumero%> - <%= data.afNom %> <% if (data.XXEXITUS == 1){ %> <i class='fas fa-times'></i> <% } %> </b></a>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a id="inf_basica"class="nav-link" onclick="function_blocked()" href="user"> Informació bàsica </a>
				</li>
				<li class="nav-item">
					<a id="fotos" class="nav-link" onclick="function_blocked()" href="user_photo"> Fotografies </a>
				</li>
				<li class="nav-item">
					<a id="planols" class="nav-link active" onclick="function_blocked()" href="user_flat"><b> Plànols </b></a>
				</li>
				<li class="nav-item">
					<a id="gestio" class="nav-link" onclick="function_blocked()" href="user_documentation"> Gestió </a>
				</li>
				<li class="nav-item">
					<a id="questionari" class="nav-link" onclick="function_blocked()" href="user_questionnaire"> Qüestionari </a>
				</li>
				<li class="nav-item">
					<a id="inici" class="nav-link" onclick="function_blocked()" href="users"> INICI </a>
				</li>
			</ul>
		</nav>
		<div id="flat" class="text-center">
			<% if(planols.length){ %>
				<button type="button" class="btn btn-danger btn-large" onclick="function_blocked(); delete_flat()" style="background-color:#CC0066; align:center; margin: 10px"> Eliminar </button>
				<% for(var i = 0;i < planols.length;i++) { %>
					<iframe src= "images/<%= user %>/plans/<%= planols[i] %>" id="planell" class="rounded zoom" width="100%" height="100%" style="margin-bottom:5px">
				<% }
			} else { %>
				<div class="file-upload-wrapper text-center" style="padding: 20px">
					<form action="/upload_flat" method="post" enctype="multipart/form-data">
						<input type="file" name="myFile" accept="application/*"/>
						<input class="btn btn-danger" type="submit" value="Pujar planell" style="background-color:#CC0066"/>
					</form>
				</div>
			<% } %>
		</div>
		<div id="loader" class="loader" style="visibility: hidden"></div>
	</body>
</html>
